<div class="container">
    <br>
    <h2> Delete Personne</h2>
    <div class="card">

        <div class="card-header d-flex justify-content-between align-items-center">
            <a class="btn btn-danger" (click)="cancelBtn()" >Cancel</a>
        </div>
        <div class="card-body">

            <form #deletePersonne="ngForm" (ngSubmit)="ngDelete(deletePersonne)">
            <div class="alert alert-primary" role="alert">
                Are you sure for delete this personne!
            </div>
            <button class="btn btn-danger" >Yes</button>
            </form>

        </div>
    </div>
</div>
