<div class="container">
    <br>
    <h2> Update Infos Reservation</h2>
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a class="btn btn-danger" (click)="cancelBtn()">Cancel</a>
        </div>
        <div class="card-body">

            <form #updateForm="ngForm" (ngSubmit)="onUpdateReservation(updateForm)">

                <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input type="text"   class="form-control" id="nom" ngModel="{{reservationUpdate?.nom}}" name="nom"  >
                </div>
                <div class="mb-3">
                    <label for="contexte" class="form-label">Contexte</label>
                    <input type="text"  class="form-control" id="contexte" ngModel="{{reservationUpdate?.contexte}}" name="contexte"  >
                </div>

                <div class="mb-3">
                    <label for="dure" class="form-label">Dure</label>
                    <input type="text"  class="form-control" id="dure" ngModel="{{reservationUpdate?.dure}}" name="dure"  >
                </div>

                <div class="mb-3">
                    <label for="ressourceId" class="form-label">Ressource Id</label>
                    <input type="number"  class="form-control" id="ressourceId" ngModel="{{reservationUpdate?.ressourceId}}" name="ressourceId"  >
                </div>

                <button [disabled]="updateForm.invalid"  type="submit" class="btn btn-primary">Ok</button>
            </form>


        </div>
    </div>
</div>
